<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Lista de Articulos</h1>
  <div class="me_content_table">

    <table class="table table-striped table-condensed table-hover">
      <thead>
        <tr class="active">
          <th>Titulo</th>
          <th>Sub-Titulo</th>
          <th>Contenido</th>
          <th>Fecha</th>
          <th>Categoria</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= article.article_title %></td>
            <td><%= article.article_subtitle %></td>
            <td><%= article.article_content %></td>
            <td><%= article.article_date %></td>
            <td><%= article.section.section_name %></td>
            <td><%= link_to 'Ver', article,class:"btn btn-default" %></td>
            <td><%= link_to 'Editar', edit_article_path(article),class:"btn btn-default" %></td>
            <td><%= link_to 'Borrar', article,class:"btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>
  <%= link_to 'Nuevo Articulo', new_article_path,class:"btn btn-primary" %>
</div>
<br/>
