<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
      <div class="page-header">
        <h1>Listado de Articulos <small>Administracion</small></h1>
      </div>
      <div class="me_content_table">
        <table class="table table-striped table-condensed table-hover">
          <thead>
            <tr class="active">
              <th>Imagen</th>
              <th>Titulo</th>
              <th>Sub-Titulo</th>
              <!-- <th>Contenido</th> -->
              <th>Fecha</th>
              <th>Categoria</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @Articles.each do |article| %>
              <tr>
                <th><%= image_tag article.image.url(:thumb) %></th>
                <td><%= article.article_title %></td>
                <td><%= article.article_subtitle %></td>
                <!-- <td><%= raw article.article_content[0...281] %></td> -->
                <td><%= article.article_date %></td>
                <td><%= article.section.section_name %></td>
                <td><%= link_to 'Ver', article,class:"btn btn-default" %></td>
                <td><%= link_to 'Editar', edit_article_path(article),class:"btn btn-default" %></td>
                <td><%= link_to 'Borrar', article,class:"btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
      <div class="page-header">
        <h1>Listado de Recorridos <small>Administracion</small></h1>
      </div>
      <div class="me_content_table">
        <table class="table table-striped  table-condensed table-hover">
          <thead>
            <tr class="active">
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Recorrido (GEOJson)</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @Recorridos.each do |recorrido| %>
              <tr>
                <td><%= recorrido.ruta_name %></td>
                <td><%= recorrido.ruta_description %></td>
                <td><%= recorrido.ruta_recorrido[0..181] %></td>
                <td><%= link_to 'Ver', recorrido,class:"btn btn-default" %></td>
                <td><%= link_to 'Editar', edit_recorrido_path(recorrido),class:"btn btn-default" %></td>
                <td><%= link_to 'Eliminar', recorrido, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-default" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
      <div class="me_content_table">
        <div class="page-header">
          <h1>Listado de Categorias<small> Administracion</small></h1>
        </div>
        <table class="table table-striped  table-condensed table-hover">
          <thead>
            <tr class="active">
              <th>Nombre</th>
              <th>Descripcion</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @Sections.each do |section| %>
              <tr>
                <td><%= section.section_name %></td>
                <td><%= section.section_description %></td>
                <td><%= link_to 'Ver', section,class:"btn btn-default" %></td>
                <td><%= link_to 'Editar', edit_section_path(section),class:"btn btn-default" %></td>
                <td><%= link_to 'Eliminar', section, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-default" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>
