<section class="jumbotron jumbotron-fm">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1>Rutas de Managua</h1>
        <p>En este Blog Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima illo dolores ullam minus consectetur, repudiandae. Modi libero natus illo doloremque, excepturi nobis corporis optio ratione quas neque cumque sapiente iste?</p>
      </div>
    </div>
  </div>
</section>

<section class="main container">
<div class="row">
<!--Aqui va nuestro contenido principal-->
    <div class="posts col-md-9">
      <div class="migas-de-pan">
        <ol class="breadcrumb">
          <li><a href="#"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
        </ol>
      </div>

      <div id="mArticles">
        <% @Articulos.each do |articulo| %>
            <article class="post clearfix">
              <a href="#" class="thumb pull-left">
                <!-- <img src="<%= asset_path 'image2.jpg' %>" alt="Imagen numero uno" class="img-thumbnail"> -->
                <%= image_tag articulo.image.url(:small) ,class:"img-thumbnail" %>

              </a>

              <h2 class="post-title">
                <a href="#"><%= articulo.article_title%></a>
              </h2>
              <p><span class="post-fecha"><%= articulo.article_date%></span> Por <span class="post-autor"><a href="#">RutasManagua</a></span></p>
              <p class="post-contenido text-justify">
                <%=  articulo.article_content[0...281]+'...'%>
              </p>
              <div class="contenedor-botones">
                <%= link_to 'Leer mas', articulo,class:"btn btn-primary" %>
                <a href="#" class="btn btn-danger">Comentarios <span class="badge">20</span></a>
              </div>
            </article>
        <% end %>
      </div>

      <nav>
        <div class="center-block">
          <ul class="pagination">
            <li class="disabled"><a href="#">&laquo; <span class="sr-only">Anterior</span></a></li>
            <li class="Active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo; <span class="sr-only">Siguiente</span></a></li>
          </ul>
        </div>
      </nav>
    </div>
<!--Aqui va nuestro Aside-->
    <aside class="col-md-3 hidden-xs hidden-sm">
      <h4>Servicios</h4>
      <div class="list-group">
        <a href="#" class="list-group-item active">Recorridos</a>
        <a href="#" class="list-group-item">Ubicacion</a>
        <a href="#" class="list-group-item">Noticias</a>
        <a href="#" class="list-group-item">Contactenos</a>
      </div>

      <h4>Articulos Recientes</h4>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
          No tengo mas Patria que tu Corazon
        </h4>
        <p class="list-group-item-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita repellendus animi.
        </p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
          todo comienzo es dificil
        </h4>
        <p class="list-group-item-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, sunt, tempora. Labore aperiam.
        </p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
          Inicia porque de lo contrario no terminaras
        </h4>
        <p class="list-group-item-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione fugit tenetur, quibusdam.
        </p>
      </a>
    </aside>
  </div>
</section>
