<p id="notice"><%= notice %></p>

<h1>Listing My Users</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>User password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_users.each do |my_user| %>
      <tr>
        <td><%= my_user.user_name %></td>
        <td><%= my_user.user_password %></td>
        <td><%= link_to 'Show', my_user %></td>
        <td><%= link_to 'Edit', edit_my_user_path(my_user) %></td>
        <td><%= link_to 'Destroy', my_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My user', new_my_user_path %>
