<!DOCTYPE html>
<html>
<head>
  <title>RutasManagua</title>
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  <!-- <link rel="stylesheet" href="http://openlayers.org/en/v3.16.0/css/ol.css" type="text/css"> -->
  <script src="https://openlayers.org/en/v4.0.1/build/ol.js"></script>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shorcut icon" type="image-x-icon" href="<%= asset_path 'favicon.ico' %>">
</head>
<body id="mibody" class="container_m">
  <%= render "partials/header" %>
  <% if notice %>
    <div class="alert alert-success alert-dismissible" role="alert" style="margin:0px;">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger alert-dismissible" role="alert" style="margin:0px;">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= alert %>
    </div>
  <% end %>
  <%= render "partials/modal" %>
  <%= yield %>
  <%= render "partials/footer" %>

</body>
</html>
